# 16대 제안자 칼럼 생성

- 발의자

In [1]:
import pandas as pd 
import numpy as np 
from ast import literal_eval
from tqdm import tqdm 
import numpy as np

In [2]:
gender = pd.read_csv('16th-gender-bill.csv', index_col=0, encoding='utf-8')
print(gender.shape)
gender.head(3)

(96, 14)

,의안번호,의안명,제안일자,제안자구분,의결일자,의결결과,제안회기,제안이유,소관위원회,제안자,발의자,제안정당,성별,여성의원 수
0,163169,정당법중개정법률안,2004-03-02,위원장,2004-03-09,원안가결,제16대 (2000~2004) 제245회,가. 제244회 국회(임시회) 제6차 본회의(2004. 1. 8)에서 정치개혁...,정치개혁특별위원회,[],위원장,위원장,NaN,0
1,163156,성매매알선등행위의처벌에관한법률안,2004-02-26,위원장,2004-03-02,원안가결,제16대 (2000~2004) 제245회,가. 2002년 9월 11일 조배숙의원외 85인이 발의한 성매매알선등행위의처벌...,법제사법위원회,[],위원장,위원장,NaN,0
2,163106,정부조직법중개정법률안,2004-01-20,정부,2004-03-02,대안반영폐기,제16대 (2000~2004) 제245회,각종 재난에 대한 예방·대응 복구기능을 강화하고 효율적인 안전관리체제를 구축...,행정자치위원회,[],정부,정부,NaN,0

In [3]:
gender = gender[['의안번호','제안자']]
gender.head(3)

     의안번호 제안자
0  163169  []
1  163156  []
2  163106  []

In [4]:
%time gender['제안자'] = gender['제안자'].apply(literal_eval)

CPU times: user 7.75 ms, sys: 375 µs, total: 8.12 ms
Wall time: 8.09 ms

## 발의자 코딩

In [5]:
proposer_list = []

for names in gender['제안자']: 
    proposer_set = set(proposer_list)
    names_set = set(names)
    minus = list(names_set.difference(proposer_set))
    proposer_list.extend(minus)
    
len(proposer_list)

292

In [6]:
def get_proposer_dummies(proposer): 
    for n in tqdm(range(proposer.shape[1])): 
        df = pd.get_dummies(proposer[n])
        if n == 0: 
            final_df = df 
        else: 
            final_df = final_df.add(df, fill_value=0)
    return final_df

In [7]:
proposer = gender['제안자'].apply(lambda x: pd.Series(x))

%time proposer_dummies = get_proposer_dummies(proposer)
print(proposer_dummies.shape)

<ipython-input-7-5cd51fc5867d>:1: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  proposer = gender['제안자'].apply(lambda x: pd.Series(x))
100%|██████████| 132/132 [01:51<00:00,  1.18it/s]

CPU times: user 1min 49s, sys: 1.96 s, total: 1min 51s
Wall time: 1min 51s
(96, 292)

In [8]:
proposer_dummies.head(3)

,강숙자,강신성일,강운태,강인섭,강재섭,강창성,강창희,강현욱,고진부,고흥길,...,허운나,허태열,현경대,현승일,홍문종,홍사덕,홍재형,홍준표,황승민,황우여
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [9]:
gender = pd.concat([gender, proposer_dummies], axis=1)

In [10]:
gender = gender.drop(['제안자','의안번호'],1)

In [11]:
gender.head()

,강숙자,강신성일,강운태,강인섭,강재섭,강창성,강창희,강현욱,고진부,고흥길,...,허운나,허태열,현경대,현승일,홍문종,홍사덕,홍재형,홍준표,황승민,황우여
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [12]:
len(gender.columns)

292

In [13]:
gender.to_csv('16th-proposer-list.csv')

## 성별 평균 비교

### 여성

In [18]:
# 양창순, 박윤옥 제외 
women_list = ['박근혜','김영선','전재희','이연숙','김정숙','임진출','손희정',
             '최영희','한명숙','이미경','허운나','김방림','김화중','조배숙',
             '추미애','장영신','김희선','김경천','강숙자']
no_list_women = []

In [19]:
women = gender[women_list]
women.head()

,박근혜,김영선,전재희,이연숙,김정숙,임진출,손희정,최영희,한명숙,이미경,허운나,김방림,김화중,조배숙,추미애,장영신,김희선,김경천,강숙자
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [20]:
add_list = [0 for n in range(len(no_list_women))]
print(add_list)
print(len(add_list))

[]
0

In [21]:
women_count = women.sum(axis=0).tolist() + add_list
print(len(women_count))

women_count = np.array(women_count)
print('평균 여성 발의:', np.mean(women_count))

19
평균 여성 발의: 14.210526315789474

### 남성

- 보궐선거, 재보궐선거 등 국회의원 수를 정확히 책정할 수 없음. 
- 따라서 당시 국회의원수를 기준으로 (국회의원수 - 여성의원수)로 책정함. 
- 동명이인 있어도 함께 세므로 평균을 내는 데에는 상관 없음.

In [22]:
men = gender.drop(women_list, 1)
men.head()

,강신성일,강운태,강인섭,강재섭,강창성,강창희,강현욱,고진부,고흥길,곽치영,...,함승희,허태열,현경대,현승일,홍문종,홍사덕,홍재형,홍준표,황승민,황우여
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [23]:
total_num = 273
total_men_num = total_num - len(women_list) - len(no_list_women)
print('총 남자의원 수:', total_men_num)

총 남자의원 수: 254

In [24]:
men_count = np.array(men.sum(axis=0).tolist())
np.sum(men_count)

2611.0

In [25]:
print('평균 남성발의:', np.sum(men_count) / total_men_num)

평균 남성발의: 10.279527559055119

## 정당 코딩

In [26]:
party = pd.read_csv('16th-gender-bill.csv', index_col=0, encoding='utf-8')
party.head()

,의안번호,의안명,제안일자,제안자구분,의결일자,의결결과,제안회기,제안이유,소관위원회,제안자,발의자,제안정당,성별,여성의원 수
0,163169,정당법중개정법률안,2004-03-02,위원장,2004-03-09,원안가결,제16대 (2000~2004) 제245회,가. 제244회 국회(임시회) 제6차 본회의(2004. 1. 8)에서 정치개혁...,정치개혁특별위원회,[],위원장,위원장,NaN,0
1,163156,성매매알선등행위의처벌에관한법률안,2004-02-26,위원장,2004-03-02,원안가결,제16대 (2000~2004) 제245회,가. 2002년 9월 11일 조배숙의원외 85인이 발의한 성매매알선등행위의처벌...,법제사법위원회,[],위원장,위원장,NaN,0
2,163106,정부조직법중개정법률안,2004-01-20,정부,2004-03-02,대안반영폐기,제16대 (2000~2004) 제245회,각종 재난에 대한 예방·대응 복구기능을 강화하고 효율적인 안전관리체제를 구축...,행정자치위원회,[],정부,정부,NaN,0
3,163094,영유아보육법개정법률안,2003-12-27,위원장,2004-01-08,수정가결,제16대 (2000~2004) 제244회,1. 제229회국회(임시회) 제1차 위원회(2002. 4. 15) 제238회...,보건복지위원회,[],위원장,위원장,NaN,0
4,163077,건강가정기본법안,2003-12-26,위원장,2003-12-29,원안가결,제16대 (2000~2004) 제244회,1. 제242회국회(임시회) 제1차 위원회(2003. 8. 25) 제243회...,보건복지위원회,[],위원장,위원장,NaN,0

In [27]:
party['제안정당'].unique()

array(['위원장', '정부', '새천년민주당', '한나라당', '무소속', '민주국민당', '자유민주연합'],
      dtype=object)

In [23]:
# party.loc[party['제안정당'] == '민주자유당', '제안정당'] = '신한국당'
# party.loc[party['제안정당'] == '민주당', '제안정당'] = '통합민주당'

In [28]:
conservative = ['한나라당','민주국민당','자유민주연합']
progressive = ['새천년민주당']

party.loc[party['제안정당'].isin(conservative), '정당성향'] = '보수'
party.loc[party['제안정당'].isin(progressive), '정당성향'] = '진보'

In [29]:
party['정당성향'].unique()

array([nan, '진보', '보수'], dtype=object)

In [30]:
party['정당성향'].value_counts()

보수    40
진보    14
Name: 정당성향, dtype: int64

In [31]:
party.to_csv('16th-gender-bill-v3.csv', encoding='utf-8-sig')