# 17대 제안자 칼럼 생성

- 발의자

In [1]:
import pandas as pd 
import numpy as np 
from ast import literal_eval
from tqdm import tqdm 
import numpy as np

In [2]:
gender = pd.read_csv('17th-gender-bill.csv', index_col=0, encoding='utf-8')
print(gender.shape)
gender.head(3)

(424, 10)

,의안번호,의안명,제안일자,제안자구분,의결일자,의결결과,제안회기,제안이유,소관위원회,제안자
0,178363,여성발전기본법 일부개정법률안,2008-05-21,위원장,2008-05-22,원안가결,제17대 (2004~2008) 제273회,가. 2006년 4월 13일 김기현의원이 대표발의한 여성발전기본법 일부개정법률...,여성가족위원회,[]
1,178362,성매매방지 및 피해자보호 등에 관한 법률 일부개정법률안,2008-05-21,위원장,2008-05-22,원안가결,제17대 (2004~2008) 제273회,가. 2005년 6월 18일 제254회국회(임시회) 제1차 여성위원회에서 20...,여성가족위원회,[]
2,178361,성폭력범죄의 처벌 및 피해자보호 등에 관한 법률 일부개정법률안,2008-05-21,위원장,2008-05-22,원안가결,제17대 (2004~2008) 제273회,가. 2008년 5월 8일 정부가 발의한 발의한 성폭력범죄의처벌및피해자보호등에...,법제사법위원회,[]

In [3]:
drop_list = [177919, 177064, 176854, 176797, 176796, 176795, 176794]

gender = gender[~gender['의안번호'].isin(drop_list)]
gender = gender.reset_index()
gender = gender.drop('index',1)
gender.shape

(417, 10)

In [4]:
gender = gender[['의안번호','제안자']]
gender.head(3)

     의안번호 제안자
0  178363  []
1  178362  []
2  178361  []

In [5]:
%time gender['제안자'] = gender['제안자'].apply(literal_eval)

CPU times: user 18.1 ms, sys: 672 µs, total: 18.8 ms
Wall time: 18.8 ms

## 발의자 코딩

In [6]:
proposer_list = []

for names in gender['제안자']: 
    proposer_set = set(proposer_list)
    names_set = set(names)
    minus = list(names_set.difference(proposer_set))
    proposer_list.extend(minus)
    
len(proposer_list)

319

In [7]:
def get_proposer_dummies(proposer): 
    for n in tqdm(range(proposer.shape[1])): 
        df = pd.get_dummies(proposer[n])
        if n == 0: 
            final_df = df 
        else: 
            final_df = final_df.add(df, fill_value=0)
    return final_df

In [8]:
proposer = gender['제안자'].apply(lambda x: pd.Series(x))

%time proposer_dummies = get_proposer_dummies(proposer)
print(proposer_dummies.shape)

<ipython-input-8-5cd51fc5867d>:1: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  proposer = gender['제안자'].apply(lambda x: pd.Series(x))
100%|██████████| 156/156 [02:38<00:00,  1.02s/it]

CPU times: user 2min 28s, sys: 2.59 s, total: 2min 30s
Wall time: 2min 38s
(417, 319)

In [9]:
proposer_dummies.head(3)

,강기갑,강기정,강길부,강봉균,강성종,강재섭,강창일,강혜숙,고경화,고조흥,...,허천,허태열,현애자,홍문표,홍미영,홍재형,홍준표,홍창선,황우여,황진하
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [10]:
gender = pd.concat([gender, proposer_dummies], axis=1)

In [11]:
gender = gender.drop(['제안자','의안번호'],1)

In [12]:
gender.head()

,강기갑,강기정,강길부,강봉균,강성종,강재섭,강창일,강혜숙,고경화,고조흥,...,허천,허태열,현애자,홍문표,홍미영,홍재형,홍준표,홍창선,황우여,황진하
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
4,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [13]:
len(gender.columns)

319

In [14]:
gender.to_csv('17th-proposer-list.csv')

## 성별 평균 비교

### 여성

In [15]:
# 양창순, 박윤옥 제외 
women_list = ['이미경', '김희선', '한명숙', '조배숙','김선미', '장향숙', '김명자', '이경숙', '홍미영', '박영선', '김현미', 
              '김영주', '강혜숙', '이은영', '윤원호','유승희', '장복심', '서혜석', '신명','박근혜','김영선','전재희','이혜훈',
              '김희정','김애실','박찬숙','송영선','전여옥','이계경','나경원','김영숙','고경화','진수희','안명옥','박순자','문희', 
             '심상정','이영순','최순영','현애자','손봉숙','이승희','김송자']

no_list_women = []

In [16]:
women = gender[women_list]
women.head()

,이미경,김희선,한명숙,조배숙,김선미,장향숙,김명자,이경숙,홍미영,박영선,...,안명옥,박순자,문희,심상정,이영순,최순영,현애자,손봉숙,이승희,김송자
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [17]:
add_list = [0 for n in range(len(no_list_women))]
print(add_list)
print(len(add_list))

[]
0

In [18]:
women_count = women.sum(axis=0).tolist() + add_list
print(len(women_count))

women_count = np.array(women_count)
print('평균 여성 발의:', np.mean(women_count))

43
평균 여성 발의: 40.53488372093023

### 남성

- 보궐선거, 재보궐선거 등 국회의원 수를 정확히 책정할 수 없음. 
- 따라서 당시 국회의원수를 기준으로 (국회의원수 - 여성의원수)로 책정함. 
- 동명이인 있어도 함께 세므로 평균을 내는 데에는 상관 없음.

In [19]:
men = gender.drop(women_list, 1)
men.head()

,강기갑,강기정,강길부,강봉균,강성종,강재섭,강창일,고조흥,고진화,고흥길,...,한선교,한화갑,허천,허태열,홍문표,홍재형,홍준표,홍창선,황우여,황진하
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
4,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [20]:
total_num = 299
total_men_num = total_num - len(women_list) - len(no_list_women)
print('총 남자의원 수:', total_men_num)

총 남자의원 수: 256

In [21]:
men_count = np.array(men.sum(axis=0).tolist())
np.sum(men_count)

5896.0

In [22]:
print('평균 남성발의:', np.sum(men_count) / total_men_num)

평균 남성발의: 23.03125

## 정당 코딩

In [22]:
party = pd.read_csv('17th-gender-bill.csv', index_col=0, encoding='utf-8')
party.head()

,의안번호,의안명,제안일자,제안자구분,의결일자,의결결과,제안회기,제안이유,소관위원회,제안자,발의자,제안정당,성별,여성의원 수
0,178363,여성발전기본법 일부개정법률안,2008-05-21,위원장,2008-05-22,원안가결,제17대 (2004~2008) 제273회,가. 2006년 4월 13일 김기현의원이 대표발의한 여성발전기본법 일부개정법률...,여성가족위원회,[],위원장,위원장,NaN,0
1,178362,성매매방지 및 피해자보호 등에 관한 법률 일부개정법률안,2008-05-21,위원장,2008-05-22,원안가결,제17대 (2004~2008) 제273회,가. 2005년 6월 18일 제254회국회(임시회) 제1차 여성위원회에서 20...,여성가족위원회,[],위원장,위원장,NaN,0
2,178361,성폭력범죄의 처벌 및 피해자보호 등에 관한 법률 일부개정법률안,2008-05-21,위원장,2008-05-22,원안가결,제17대 (2004~2008) 제273회,가. 2008년 5월 8일 정부가 발의한 발의한 성폭력범죄의처벌및피해자보호등에...,법제사법위원회,[],위원장,위원장,NaN,0
3,178351,성폭력범죄의 처벌 및 피해자보호 등에 관한 법률 일부개정법률안,2008-05-15,의원,2008-05-22,대안반영폐기,제17대 (2004~2008) 제273회,최근 미성년자 대상 성폭행 범죄로 집행유예를 받은 전력이 있는 자가 다시 초등...,법제사법위원회,"['이종걸', '류근찬', '변재일', '서혜석', '양승조', '염동연', '유승...",이종걸,열린우리당,남성,2
4,178350,성폭력범죄의 처벌 및 피해자보호 등에 관한 법률 일부개정법률안,2008-05-14,의원,2008-05-22,대안반영폐기,제17대 (2004~2008) 제273회,■ 최근 미성년자 대상 성폭행으로 집행유예의 전력이 있는 자가 다시 이웃에 사...,법제사법위원회,"['최인기', '강기정', '김재윤', '김효석', '문학진', '선병렬', '우제...",최인기,무소속,남성,0

In [23]:
party['제안정당'].unique()

array(['위원장', '열린우리당', '무소속', '정부', '한나라당', '민주노동당', '자유민주연합', '정의당',
       '새천년민주당'], dtype=object)

In [23]:
# party.loc[party['제안정당'] == '민주자유당', '제안정당'] = '신한국당'
# party.loc[party['제안정당'] == '민주당', '제안정당'] = '통합민주당'

In [24]:
conservative = ['한나라당','자유민주연합']
progressive = ['새천년민주당','열린우리당','민주노동당','정의당']

party.loc[party['제안정당'].isin(conservative), '정당성향'] = '보수'
party.loc[party['제안정당'].isin(progressive), '정당성향'] = '진보'

In [25]:
party['정당성향'].unique()

array([nan, '진보', '보수'], dtype=object)

In [26]:
party['정당성향'].value_counts()

보수    167
진보    158
Name: 정당성향, dtype: int64

In [27]:
party.to_csv('17th-gender-bill-v3.csv', encoding='utf-8-sig')