# 19대 제안자 칼럼 생성

- 발의자

In [1]:
import pandas as pd 
import numpy as np 
from ast import literal_eval
from tqdm import tqdm 
import numpy as np

In [2]:
gender = pd.read_csv('19th-gender-bill-2.csv', index_col=0, encoding='utf-8')
print(gender.shape)
gender.head(3)

(1044, 16)

,의안번호,의안명,제안일자,제안자구분,의결일자,의결결과,제안회기,제안이유,소관위원회,제안자,발의자,발의자_한글,제안정당,제안자_한글,성별,여성의원 수
0,1918726,유아교육법 일부개정법률안,2016-05-18,위원장,2016-05-19,원안가결,제19대 (2012~2016) 제342회,1. 최근 보육기관에서 아동학대 사건이 잇달아 발생하고 있는 가운데 아동학대 ...,교육문화체육관광위원회,[],위원장,NaN,위원장,[],NaN,0
1,1918721,초·중등교육법 일부개정법률안,2016-05-18,위원장,2016-05-19,원안가결,제19대 (2012~2016) 제342회,"1. 학교운영위원회 위원의 결격사유를 강화하고, 법정형을 정비하려는 것임.2....",교육문화체육관광위원회,[],위원장,NaN,위원장,[],NaN,0
2,1918710,건강가정기본법 일부개정법률안,2016-05-18,위원장,2016-05-19,원안가결,제19대 (2012~2016) 제342회,"1. 국가와 지방자치단체의 모성보호 및 부성보호의 책임을 명시하고, 육아휴직 ...",여성가족위원회,[],위원장,NaN,위원장,[],NaN,0

In [3]:
# 정부, 위원장 발의일 때 
gender.loc[gender['제안자구분'] == '정부', '발의자_한글'] = '정부'
gender.loc[gender['제안자구분'] == '위원장', '발의자_한글'] = '위원장'

In [4]:
gender = gender[['의안번호','제안자_한글']]
gender.head(3)

      의안번호 제안자_한글
0  1918726     []
1  1918721     []
2  1918710     []

In [5]:
%time gender['제안자_한글'] = gender['제안자_한글'].apply(literal_eval)

CPU times: user 32.2 ms, sys: 2.14 ms, total: 34.3 ms
Wall time: 33.5 ms

## 발의자 코딩

In [6]:
proposer_list = []

for names in gender['제안자_한글']: 
    proposer_set = set(proposer_list)
    names_set = set(names)
    minus = list(names_set.difference(proposer_set))
    proposer_list.extend(minus)
    
len(proposer_list)

326

In [7]:
def get_proposer_dummies(proposer): 
    for n in tqdm(range(proposer.shape[1])): 
        df = pd.get_dummies(proposer[n])
        if n == 0: 
            final_df = df 
        else: 
            final_df = final_df.add(df, fill_value=0)
    return final_df

In [8]:
proposer = gender['제안자_한글'].apply(lambda x: pd.Series(x))

%time proposer_dummies = get_proposer_dummies(proposer)
print(proposer_dummies.shape)

<ipython-input-8-c684986f93c6>:1: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  proposer = gender['제안자_한글'].apply(lambda x: pd.Series(x))
100%|██████████| 150/150 [02:44<00:00,  1.10s/it]

CPU times: user 2min 40s, sys: 1.27 s, total: 2min 41s
Wall time: 2min 44s
(1044, 326)

In [9]:
proposer_dummies.head(3)

,강기윤,강기정,강길부,강동원,강석호,강석훈,강은희,강창일,강창희,경대수,...,홍익표,홍일표,홍종학,홍지만,홍철호,황영철,황우여,황인자,황주홍,황진하
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [10]:
gender = pd.concat([gender, proposer_dummies], axis=1)

In [11]:
gender = gender.drop(['제안자_한글','의안번호'],1)

In [12]:
gender.head()

,강기윤,강기정,강길부,강동원,강석호,강석훈,강은희,강창일,강창희,경대수,...,홍익표,홍일표,홍종학,홍지만,홍철호,황영철,황우여,황인자,황주홍,황진하
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [13]:
len(gender.columns)

326

In [14]:
gender.to_csv('19th-proposer-list.csv')

## 성별 평균 비교

### 여성

In [1]:
women_list = ['박근혜','나경원','김을동','김희정','정미경','박인숙','권은희',
             '민병주','윤명희','강은희','신의진','이에리사','김현숙','이자스민',
             '류지영','민현주','손인춘','신경림','문정림','황인자','박윤옥',
             '장정은','정윤숙','이미경','추미애','박영선','유승희','김영주',
             '김상희','김현미','서영교','인재근','박혜자','이언주','유은혜',
             '전순옥','은수미','진선미','배재정','남인순','한정애','장하나',
             '김현','최민희','임수경','권은희','전정희','권은희','전정희',
             '심상정','김제남']
no_list_women = []

In [2]:
len(women_list)

51

In [16]:
women = gender[women_list]
women.head()

,박근혜,나경원,김을동,김희정,정미경,박인숙,권은희,민병주,윤명희,강은희,...,장하나,김현,최민희,임수경,권은희,전정희,권은희,전정희,심상정,김제남
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [17]:
add_list = [0 for n in range(len(no_list_women))]
print(add_list)
print(len(add_list))

[]
0

In [18]:
women_count = women.sum(axis=0).tolist() + add_list
print(len(women_count))

women_count = np.array(women_count)
print('평균 여성 발의:', np.mean(women_count))

51
평균 여성 발의: 67.09803921568627

### 남성

- 보궐선거, 재보궐선거 등 국회의원 수를 정확히 책정할 수 없음. 
- 따라서 당시 국회의원수를 기준으로 (국회의원수 - 여성의원수)로 책정함. 
- 동명이인 있어도 함께 세므로 평균을 내는 데에는 상관 없음.

In [19]:
men = gender.drop(women_list, 1)
men.head()

,강기윤,강기정,강길부,강동원,강석호,강석훈,강창일,강창희,경대수,고희선,...,홍의락,홍익표,홍일표,홍종학,홍지만,홍철호,황영철,황우여,황주홍,황진하
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [20]:
total_num = 300
total_men_num = total_num - len(women_list) - len(no_list_women)
print('총 남자의원 수:', total_men_num)

총 남자의원 수: 249

In [21]:
men_count = np.array(men.sum(axis=0).tolist())
np.sum(men_count)

9602.0

In [22]:
print('평균 남성발의:', np.sum(men_count) / total_men_num)

평균 남성발의: 38.562248995983936

## 정당 코딩

In [23]:
party = pd.read_csv('19th-gender-bill-2.csv', index_col=0, encoding='utf-8')
party.head()

,의안번호,의안명,제안일자,제안자구분,의결일자,의결결과,제안회기,제안이유,소관위원회,제안자,발의자,발의자_한글,제안정당,제안자_한글,성별,여성의원 수
0,1918726,유아교육법 일부개정법률안,2016-05-18,위원장,2016-05-19,원안가결,제19대 (2012~2016) 제342회,1. 최근 보육기관에서 아동학대 사건이 잇달아 발생하고 있는 가운데 아동학대 ...,교육문화체육관광위원회,[],위원장,NaN,위원장,[],NaN,0
1,1918721,초·중등교육법 일부개정법률안,2016-05-18,위원장,2016-05-19,원안가결,제19대 (2012~2016) 제342회,"1. 학교운영위원회 위원의 결격사유를 강화하고, 법정형을 정비하려는 것임.2....",교육문화체육관광위원회,[],위원장,NaN,위원장,[],NaN,0
2,1918710,건강가정기본법 일부개정법률안,2016-05-18,위원장,2016-05-19,원안가결,제19대 (2012~2016) 제342회,"1. 국가와 지방자치단체의 모성보호 및 부성보호의 책임을 명시하고, 육아휴직 ...",여성가족위원회,[],위원장,NaN,위원장,[],NaN,0
3,1918709,아동·청소년의 성보호에 관한 법률 일부개정법률안,2016-05-18,위원장,2016-05-19,원안가결,제19대 (2012~2016) 제342회,1. 성범죄자 재범방지교육의 효과성 평가를 위하여 교육 이수자에 대한 재범률 ...,여성가족위원회,[],위원장,NaN,위원장,[],NaN,0
4,1918705,주민등록법 일부개정법률안,2016-05-18,위원장,2016-05-19,원안가결,제19대 (2012~2016) 제342회,1. 주민등록번호의 유출로 인하여 발생할 수 있는 피해에 대한 국민의 불안감이...,안전행정위원회,[],위원장,NaN,위원장,[],NaN,0

In [24]:
party['제안정당'].unique()

array(['위원장', '새누리당', '더불어민주당', '새정치민주연합', '정부', '정의당', '국민의당', '무소속',
       '통합진보당', '민주당', '진보정의당', '자유선진당'], dtype=object)

In [25]:
# party.loc[party['제안정당'] == '민주자유당', '제안정당'] = '신한국당'
# party.loc[party['제안정당'] == '민주당', '제안정당'] = '통합민주당'

In [26]:
conservative = ['새누리당','자유선진당']
progressive = ['더불어민주당','새정치민주연합','정의당','국민의당','통합진보당','민주당','진보정의당']

party.loc[party['제안정당'].isin(conservative), '정당성향'] = '보수'
party.loc[party['제안정당'].isin(progressive), '정당성향'] = '진보'

In [27]:
party['정당성향'].unique()

array([nan, '보수', '진보'], dtype=object)

In [28]:
party['정당성향'].value_counts()

진보    542
보수    398
Name: 정당성향, dtype: int64

In [29]:
party.to_csv('19th-gender-bill-v3.csv', encoding='utf-8-sig')