# 13대 제안자 칼럼 생성

- 발의자

In [1]:
import pandas as pd 
import numpy as np 
from ast import literal_eval
from tqdm import tqdm 
import numpy as np

In [2]:
gender = pd.read_csv('13th-gender-bill-v2.csv', index_col=0, encoding='utf-8')
gender.head(3)

,의안번호,의안명,제안일자,제안자구분,의결일자,의결결과,제안회기,제안이유,소관위원회,제안자,발의자,제안정당,성별,여성의원 수
0,131131,소득세법중개정법률안,1990-12-17,위원장,1990-12-18,원안가결,제13대 (1988~1992) 제151회,"정부제출,柳인학·강金식·금봉욱·林춘원·李경재·허만기·홍영기의원외64인 발의,1...",재무위원회,[],위원장,위원장,NaN,0
1,131126,특정범죄가중처벌등에관한법률중개정법률안,1990-12-17,위원장,1990-12-18,원안가결,제13대 (1988~1992) 제151회,1989.11.21과 1990.10.8 정부에서 제출한 각특정범죄가중처벌등에관...,법제사법위원회,[],위원장,위원장,NaN,0
2,131059,영·유아의보호·교육에관한법률안,1990-11-20,의원,1990-12-18,수정가결,제13대 (1988~1992) 제151회,현대사회의 산업화에 따른 여성의 사회참여 증가 및 가족구조의 핵가족화에 의한 ...,보건사회위원회,"['신영순', '김장숙', '이윤자', '김문기', '김인영', '김일동', '김한...",신영순,민주정의당,여성,3

In [3]:
gender = gender[['의안번호','제안자']]
gender.head(3)

     의안번호                                                제안자
0  131131                                                 []
1  131126                                                 []
2  131059  ['신영순', '김장숙', '이윤자', '김문기', '김인영', '김일동', '김한...

In [4]:
%time gender['제안자'] = gender['제안자'].apply(literal_eval)

CPU times: user 2.65 ms, sys: 189 µs, total: 2.84 ms
Wall time: 2.91 ms

## 발의자 코딩

In [5]:
proposer_list = []

for names in gender['제안자']: 
    proposer_set = set(proposer_list)
    names_set = set(names)
    minus = list(names_set.difference(proposer_set))
    proposer_list.extend(minus)
    
len(proposer_list)

242

In [6]:
def get_proposer_dummies(proposer): 
    for n in tqdm(range(proposer.shape[1])): 
        df = pd.get_dummies(proposer[n])
        if n == 0: 
            final_df = df 
        else: 
            final_df = final_df.add(df, fill_value=0)
    return final_df

In [7]:
proposer = gender['제안자'].apply(lambda x: pd.Series(x))

%time proposer_dummies = get_proposer_dummies(proposer)
print(proposer_dummies.shape)

<ipython-input-7-5cd51fc5867d>:1: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  proposer = gender['제안자'].apply(lambda x: pd.Series(x))
100%|██████████| 163/163 [01:29<00:00,  1.83it/s]

CPU times: user 1min 26s, sys: 2.51 s, total: 1min 29s
Wall time: 1min 29s
(17, 242)

In [8]:
proposer_dummies.head(3)

,강신옥,강우혁,강재섭,고세진,구자춘,권노갑,권달수,권헌성,김광일,김근수,...,홍기훈,홍세기,홍영기,홍희표,황낙주,황대봉,황명수,황병태,황성균,황철수
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,1.0

In [9]:
gender = pd.concat([gender, proposer_dummies], axis=1)

In [10]:
gender = gender.drop(['제안자','의안번호'],1)

In [11]:
gender.head()

,강신옥,강우혁,강재섭,고세진,구자춘,권노갑,권달수,권헌성,김광일,김근수,...,홍기훈,홍세기,홍영기,홍희표,황낙주,황대봉,황명수,황병태,황성균,황철수
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,1.0
3,0.0,1.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0,...,0.0,1.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [12]:
gender.to_csv('13th-proposer-list.csv')

## 성별 평균 비교

### 여성

In [13]:
women_list = ['이윤자','김장숙','양경자','신영순','도영심','박영숙']

In [14]:
women = gender[women_list]
women.head()

   이윤자  김장숙  양경자  신영순  도영심  박영숙
0  0.0  0.0  0.0  0.0  0.0  0.0
1  0.0  0.0  0.0  0.0  0.0  0.0
2  1.0  1.0  0.0  1.0  0.0  0.0
3  0.0  0.0  0.0  0.0  0.0  0.0
4  0.0  0.0  0.0  0.0  0.0  0.0

In [15]:
women.sum(axis=0)

이윤자    3.0
김장숙    3.0
양경자    2.0
신영순    3.0
도영심    1.0
박영숙    5.0
dtype: float64

In [16]:
women.sum(axis=0).mean()

2.8333333333333335

### 남성

In [17]:
men = gender.drop(women_list, 1)
men.head()

,강신옥,강우혁,강재섭,고세진,구자춘,권노갑,권달수,권헌성,김광일,김근수,...,홍기훈,홍세기,홍영기,홍희표,황낙주,황대봉,황명수,황병태,황성균,황철수
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,1.0
3,0.0,1.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0,...,0.0,1.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [18]:
men.shape

(17, 236)

In [19]:
total_num = 299 
total_men_num = total_num - len(women_list)
print('총 남자의원 수:', total_men_num)
no_list_men = total_men_num - men.shape[1]
print('리스트에 없는 남자의원수:', no_list_men)

add_list = [0 for n in range(no_list_men)]
print(add_list)
print(len(add_list))

총 남자의원 수: 293
리스트에 없는 남자의원수: 57
[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
57

In [20]:
men_count = men.sum(axis=0).tolist() + add_list
len(men_count)

293

In [21]:
men_count = np.array(men_count)
np.mean(men_count)

2.3344709897610922

## 정당 코딩

In [22]:
party = pd.read_csv('13th-gender-bill-v2.csv', index_col=0, encoding='utf-8')
party.head()

,의안번호,의안명,제안일자,제안자구분,의결일자,의결결과,제안회기,제안이유,소관위원회,제안자,발의자,제안정당,성별,여성의원 수
0,131131,소득세법중개정법률안,1990-12-17,위원장,1990-12-18,원안가결,제13대 (1988~1992) 제151회,"정부제출,柳인학·강金식·금봉욱·林춘원·李경재·허만기·홍영기의원외64인 발의,1...",재무위원회,[],위원장,위원장,NaN,0
1,131126,특정범죄가중처벌등에관한법률중개정법률안,1990-12-17,위원장,1990-12-18,원안가결,제13대 (1988~1992) 제151회,1989.11.21과 1990.10.8 정부에서 제출한 각특정범죄가중처벌등에관...,법제사법위원회,[],위원장,위원장,NaN,0
2,131059,영·유아의보호·교육에관한법률안,1990-11-20,의원,1990-12-18,수정가결,제13대 (1988~1992) 제151회,현대사회의 산업화에 따른 여성의 사회참여 증가 및 가족구조의 핵가족화에 의한 ...,보건사회위원회,"['신영순', '김장숙', '이윤자', '김문기', '김인영', '김일동', '김한...",신영순,민주정의당,여성,3
3,131055,특정강력범죄의처벌에관한특례법안,1990-11-20,의원,1990-12-18,수정가결,제13대 (1988~1992) 제151회,반인륜적이고 반사회적인 흉악범죄로서 가정과 사회질서를 침해하는 특정강력범죄에 ...,법제사법위원회,"['윤재기', '강우혁', '강재섭', '고세진', '구자춘', '김근수', '김일...",윤재기,신민주공화당,남성,0
4,131006,특정범죄가중처벌등에관한법률중개정법률안,1990-10-08,정부,1990-12-18,대안반영폐기,제13대 (1988~1992) 제151회,민생치안확립에 기여하게 하기 위하여 흉기 등을 휴대한 강간 등 행위에 대하여 ...,법제사법위원회,[],정부,정부,NaN,0

In [23]:
party['제안정당'].unique()

array(['위원장', '민주정의당', '신민주공화당', '정부', '평화민주당', '통일민주당'], dtype=object)

In [24]:
conservative = ['민주정의당','신민주공화당','통일민주당']
progressive = ['평화민주당']

party.loc[party['제안정당'].isin(conservative), '정당성향'] = '보수'
party.loc[party['제안정당'].isin(progressive), '정당성향'] = '진보'

In [25]:
party['정당성향'].unique()

array([nan, '보수', '진보'], dtype=object)

In [26]:
party.to_csv('13th-gender-bill-v3.csv', encoding='utf-8-sig')