# 14대 제안자 칼럼 생성

- 발의자

In [1]:
import pandas as pd 
import numpy as np 
from ast import literal_eval
from tqdm import tqdm 
import numpy as np

In [2]:
gender = pd.read_csv('14th-gender-bill.csv', index_col=0, encoding='utf-8')
print(gender.shape)
gender.head(3)

,의안번호,의안명,제안일자,제안자구분,의결일자,의결결과,발의자,제안정당,제안회기,제안이유,소관위원회,제안자,성별,여성의원 수
0,141424,여성발전기본법안,1995-12-19,위원장,1995-12-19,원안가결,위원장,위원장,제14대 (1992~1996) 제177회,1. 여성발전기본법안은 주良자의원외 22인으로부터 1995년 12월 6일 발의되어 ...,행정위원회,[],NaN,0
1,141410,남녀평등기본법안,1995-12-09,의원,1995-12-19,대안반영폐기,손세일,민주당,제14대 (1992~1996) 제177회,개인의 존엄과 남녀의 평등을 기초로 모든 영역에서 성에 대한 정형화를 소멸시키고 개...,행정위원회,"['손세일', '강철선', '권노갑', '김덕규', '문희상', '이우정', '조세...",남성,1
2,141407,여성발전기본법안,1995-12-06,의원,1995-12-19,대안반영폐기,주양자,민주자유당,제14대 (1992~1996) 제177회,성차별적 관행이 뿌리깊은 우리 현실에서 헌법의 기본리념에 따라 사회 각 분야에서 남...,행정위원회,"['주양자', '강선영', '정옥순', '김해석', '김형오', '류흥수', '박명...",여성,2

In [3]:
gender = gender[['의안번호','제안자']]
gender.head(3)

     의안번호                                                제안자
0  141424                                                 []
1  141410  ['손세일', '강철선', '권노갑', '김덕규', '문희상', '이우정', '조세...
2  141407  ['주양자', '강선영', '정옥순', '김해석', '김형오', '류흥수', '박명...

In [4]:
%time gender['제안자'] = gender['제안자'].apply(literal_eval)

CPU times: user 2 ms, sys: 117 µs, total: 2.12 ms
Wall time: 2.1 ms

## 발의자 코딩

In [5]:
proposer_list = []

for names in gender['제안자']: 
    proposer_set = set(proposer_list)
    names_set = set(names)
    minus = list(names_set.difference(proposer_set))
    proposer_list.extend(minus)
    
len(proposer_list)

184

In [6]:
def get_proposer_dummies(proposer): 
    for n in tqdm(range(proposer.shape[1])): 
        df = pd.get_dummies(proposer[n])
        if n == 0: 
            final_df = df 
        else: 
            final_df = final_df.add(df, fill_value=0)
    return final_df

In [7]:
proposer = gender['제안자'].apply(lambda x: pd.Series(x))

%time proposer_dummies = get_proposer_dummies(proposer)
print(proposer_dummies.shape)

<ipython-input-7-5cd51fc5867d>:1: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  proposer = gender['제안자'].apply(lambda x: pd.Series(x))
100%|██████████| 98/98 [00:44<00:00,  2.22it/s]

CPU times: user 42.5 s, sys: 1.1 s, total: 43.6 s
Wall time: 44.2 s
(22, 184)

In [8]:
proposer_dummies.head(3)

,강부자,강선영,강창성,강철선,강희찬,곽정출,국종남,권노갑,권해옥,김기도,...,함석재,허경만,허재홍,현경대,현경자,홍기훈,홍사덕,홍영기,황윤기,황의성
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [9]:
gender = pd.concat([gender, proposer_dummies], axis=1)

In [10]:
gender = gender.drop(['제안자','의안번호'],1)

In [11]:
gender.head()

,강부자,강선영,강창성,강철선,강희찬,곽정출,국종남,권노갑,권해옥,김기도,...,함석재,허경만,허재홍,현경대,현경자,홍기훈,홍사덕,홍영기,황윤기,황의성
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0

In [12]:
gender.to_csv('14th-proposer-list.csv')

## 성별 평균 비교

### 여성

In [13]:
women_list = ['강선영','주양자','이우정','강부자']

In [14]:
women = gender[women_list]
women.head()

   강선영  주양자  이우정  강부자
0  0.0  0.0  0.0  0.0
1  0.0  0.0  1.0  0.0
2  1.0  1.0  0.0  0.0
3  0.0  0.0  0.0  0.0
4  0.0  0.0  1.0  1.0

In [15]:
women.sum(axis=0)

강선영    2.0
주양자    3.0
이우정    6.0
강부자    1.0
dtype: float64

In [16]:
women.sum(axis=0).mean()

3.0

### 남성

In [17]:
men = gender.drop(women_list, 1)
men.head()

,강창성,강철선,강희찬,곽정출,국종남,권노갑,권해옥,김기도,김대중,김덕규,...,함석재,허경만,허재홍,현경대,현경자,홍기훈,홍사덕,홍영기,황윤기,황의성
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0

In [18]:
men.shape

(17, 236)

In [18]:
total_num = 299 
total_men_num = total_num - len(women_list)
print('총 남자의원 수:', total_men_num)
no_list_men = total_men_num - men.shape[1]
print('리스트에 없는 남자의원수:', no_list_men)

add_list = [0 for n in range(no_list_men)]
print(add_list)
print(len(add_list))

총 남자의원 수: 295
리스트에 없는 남자의원수: 115
[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
115

In [19]:
men_count = men.sum(axis=0).tolist() + add_list
len(men_count)

295

In [20]:
men_count = np.array(men_count)
np.mean(men_count)

1.806779661016949

## 정당 코딩

In [21]:
party = pd.read_csv('14th-gender-bill.csv', index_col=0, encoding='utf-8')
party.head()

,의안번호,의안명,제안일자,제안자구분,의결일자,의결결과,발의자,제안정당,제안회기,제안이유,소관위원회,제안자,성별,여성의원 수
0,141424,여성발전기본법안,1995-12-19,위원장,1995-12-19,원안가결,위원장,위원장,제14대 (1992~1996) 제177회,1. 여성발전기본법안은 주良자의원외 22인으로부터 1995년 12월 6일 발의되어 ...,행정위원회,[],NaN,0
1,141410,남녀평등기본법안,1995-12-09,의원,1995-12-19,대안반영폐기,손세일,민주당,제14대 (1992~1996) 제177회,개인의 존엄과 남녀의 평등을 기초로 모든 영역에서 성에 대한 정형화를 소멸시키고 개...,행정위원회,"['손세일', '강철선', '권노갑', '김덕규', '문희상', '이우정', '조세...",남성,1
2,141407,여성발전기본법안,1995-12-06,의원,1995-12-19,대안반영폐기,주양자,민주자유당,제14대 (1992~1996) 제177회,성차별적 관행이 뿌리깊은 우리 현실에서 헌법의 기본리념에 따라 사회 각 분야에서 남...,행정위원회,"['주양자', '강선영', '정옥순', '김해석', '김형오', '류흥수', '박명...",여성,2
3,141388,형법중개정법률안,1995-12-01,위원장,1995-12-02,원안가결,위원장,위원장,제14대 (1992~1996) 제177회,1. 정부에서는 1985년 6월 형사법개정특별심의위원회를 구성·발족한 이후 1992...,법제사법위원회,[],NaN,0
4,141332,남녀고용평등법중개정법률안,1995-11-10,의원,1996-05-29,임기만료폐기,이우정,민주당,제14대 (1992~1996) 제177회,근로자의 고용 및 제반근무환경에 있어서의 남녀평등을 확보하기 위하여 성별 등을 사유...,환경노동위원회,"['이우정', '강부자', '김말룡', '김해석', '박세직', '신계륜', '원혜...",여성,2

In [23]:
party.loc[party['제안정당'] == '민주자유당', '제안정당'] = '신한국당'
party.loc[party['제안정당'] == '민주당', '제안정당'] = '통합민주당'

In [24]:
party['제안정당'].unique()

array(['위원장', '통합민주당', '신한국당', '정부'], dtype=object)

In [25]:
# conservative = ['민주정의당','신민주공화당','통일민주당']
# progressive = ['평화민주당']

party.loc[party['제안정당'] == '신한국당', '정당성향'] = '보수'
party.loc[party['제안정당'] == '통합민주당', '정당성향'] = '진보'

In [26]:
party['정당성향'].unique()

array([nan, '진보', '보수'], dtype=object)

In [27]:
party.to_csv('14th-gender-bill-v3.csv', encoding='utf-8-sig')