# 15대 제안자 칼럼 생성

- 발의자

In [1]:
import pandas as pd 
import numpy as np 
from ast import literal_eval
from tqdm import tqdm 
import numpy as np

In [2]:
gender = pd.read_csv('15th-gender-bill.csv', index_col=0, encoding='utf-8')
print(gender.shape)
gender.head(3)

(83, 14)

,의안번호,의안명,제안일자,제안자구분,의결일자,의결결과,발의자,제안회기,제안이유,소관위원회,제안자,제안정당,성별,여성의원 수
0,152550,청소년의성보호에관한법률안,2000-01-13,위원장,2000-01-14,원안가결,위원장,제15대 (1996~2000) 제209회,1. 1999년 11월 4일 박상천·林채정·정세균·방용석의원외 101인이 발의한 아...,정무위원회,[],위원장,NaN,0
1,152499,사립학교법중개정법률안,1999-12-17,위원장,1999-12-28,원안가결,위원장,제15대 (1996~2000) 제209회,1. 1999년 9월 10일 李미경의원외 23인이 발의하여 동일 우리 위원회에 회부...,교육위원회,[],위원장,NaN,0
2,152498,교육공무원법중개정법률안,1999-12-17,위원장,1999-12-28,원안가결,위원장,제15대 (1996~2000) 제209회,1. 1999년 8월 16일 李미경의원외 23인이 발의하여 동년 9월 10일 우리 ...,교육위원회,[],위원장,NaN,0

In [3]:
gender = gender[['의안번호','제안자']]
gender.head(3)

     의안번호 제안자
0  152550  []
1  152499  []
2  152498  []

In [4]:
%time gender['제안자'] = gender['제안자'].apply(literal_eval)

CPU times: user 7.24 ms, sys: 406 µs, total: 7.65 ms
Wall time: 7.63 ms

## 발의자 코딩

In [5]:
proposer_list = []

for names in gender['제안자']: 
    proposer_set = set(proposer_list)
    names_set = set(names)
    minus = list(names_set.difference(proposer_set))
    proposer_list.extend(minus)
    
len(proposer_list)

322

In [6]:
def get_proposer_dummies(proposer): 
    for n in tqdm(range(proposer.shape[1])): 
        df = pd.get_dummies(proposer[n])
        if n == 0: 
            final_df = df 
        else: 
            final_df = final_df.add(df, fill_value=0)
    return final_df

In [7]:
proposer = gender['제안자'].apply(lambda x: pd.Series(x))

%time proposer_dummies = get_proposer_dummies(proposer)
print(proposer_dummies.shape)

<ipython-input-7-5cd51fc5867d>:1: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  proposer = gender['제안자'].apply(lambda x: pd.Series(x))
100%|██████████| 149/149 [02:21<00:00,  1.05it/s]

CPU times: user 2min 17s, sys: 2.5 s, total: 2min 19s
Wall time: 2min 21s
(83, 322)

In [8]:
proposer_dummies.head(3)

,강삼재,강성재,강용식,강재섭,강종희,강현욱,구천서,국창근,권기술,권수창,...,홍문종,홍사덕,홍인길,홍준표,황규선,황낙주,황병태,황성균,황우여,황학수
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [9]:
gender = pd.concat([gender, proposer_dummies], axis=1)

In [10]:
gender = gender.drop(['제안자','의안번호'],1)

In [11]:
gender.head()

,강삼재,강성재,강용식,강재섭,강종희,강현욱,구천서,국창근,권기술,권수창,...,홍문종,홍사덕,홍인길,홍준표,황규선,황낙주,황병태,황성균,황우여,황학수
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [31]:
len(gender.columns)

322

In [12]:
gender.to_csv('15th-proposer-list.csv')

## 성별 평균 비교

### 여성

In [48]:
# 양창순, 박윤옥 제외 
women_list = ['박근혜','권영자','오양순','김영선','추미애','정희경','신낙균','이미경','임진출']
no_list_women = ['양창순','박윤옥']

In [49]:
women = gender[women_list]
women.head()

   박근혜  권영자  오양순  김영선  추미애  정희경  신낙균  이미경  임진출
0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
1  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
2  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
3  1.0  1.0  1.0  1.0  0.0  1.0  0.0  0.0  1.0
4  1.0  1.0  1.0  1.0  0.0  1.0  0.0  0.0  1.0

In [50]:
add_list = [0 for n in range(len(no_list_women))]
print(add_list)
print(len(add_list))

[0, 0]
2

In [51]:
women_count = women.sum(axis=0).tolist() + add_list
print(len(women_count))

women_count = np.array(women_count)
print('평균 여성 발의:', np.mean(women_count))

11
평균 여성 발의: 16.363636363636363

### 남성

- 보궐선거, 재보궐선거 등 국회의원 수를 정확히 책정할 수 없음. 
- 따라서 당시 국회의원수를 기준으로 (국회의원수 - 여성의원수)로 책정함. 
- 동명이인 있어도 함께 세므로 평균을 내는 데에는 상관 없음.

In [52]:
men = gender.drop(women_list, 1)
men.head()

,강삼재,강성재,강용식,강재섭,강종희,강현욱,구천서,국창근,권기술,권수창,...,홍문종,홍사덕,홍인길,홍준표,황규선,황낙주,황병태,황성균,황우여,황학수
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [53]:
total_num = 299 
total_men_num = total_num - len(women_list) - len(no_list_women)
print('총 남자의원 수:', total_men_num)

총 남자의원 수: 288

In [54]:
men_count = np.array(men.sum(axis=0).tolist())
np.sum(men_count)

3088.0

In [56]:
print('평균 남성발의:', np.sum(men_count) / total_men_num)

평균 남성발의: 10.722222222222221

## 정당 코딩

In [57]:
party = pd.read_csv('15th-gender-bill.csv', index_col=0, encoding='utf-8')
party.head()

,의안번호,의안명,제안일자,제안자구분,의결일자,의결결과,발의자,제안회기,제안이유,소관위원회,제안자,제안정당,성별,여성의원 수
0,152550,청소년의성보호에관한법률안,2000-01-13,위원장,2000-01-14,원안가결,위원장,제15대 (1996~2000) 제209회,1. 1999년 11월 4일 박상천·林채정·정세균·방용석의원외 101인이 발의한 아...,정무위원회,[],위원장,NaN,0
1,152499,사립학교법중개정법률안,1999-12-17,위원장,1999-12-28,원안가결,위원장,제15대 (1996~2000) 제209회,1. 1999년 9월 10일 李미경의원외 23인이 발의하여 동일 우리 위원회에 회부...,교육위원회,[],위원장,NaN,0
2,152498,교육공무원법중개정법률안,1999-12-17,위원장,1999-12-28,원안가결,위원장,제15대 (1996~2000) 제209회,1. 1999년 8월 16일 李미경의원외 23인이 발의하여 동년 9월 10일 우리 ...,교육위원회,[],위원장,NaN,0
3,152488,남녀고용평등법중개정법률안,1999-12-16,의원,2000-05-29,임기만료폐기,김정숙,제15대 (1996~2000) 제208회,현재 무급인 육아휴직기간의 소득보장을 위하여 고용보험법에서 임金의 일부를 지급하도록...,환경노동위원회,"['김정숙', '권영자', '김영선', '김영환', '김칠환', '박근혜', '박범...",신한국당,남성,6
4,152486,국민건강보험법중개정법률안,1999-12-16,의원,2000-05-29,임기만료폐기,김정숙,제15대 (1996~2000) 제208회,여성의 모성기능 보호의 일환으로 임산부가 태아건강검진을 받고 산전후 휴식을 취하는 ...,보건복지위원회,"['김정숙', '권영자', '김영선', '김영환', '김칠환', '박근혜', '박범...",신한국당,남성,6

In [58]:
party['제안정당'].unique()

array(['위원장', '신한국당', '무소속', '새정치국민회의', '통합민주당', '정부', '자유민주연합'],
      dtype=object)

In [23]:
# party.loc[party['제안정당'] == '민주자유당', '제안정당'] = '신한국당'
# party.loc[party['제안정당'] == '민주당', '제안정당'] = '통합민주당'

In [59]:
conservative = ['신한국당','통합민주당','자유민주연합']
progressive = ['새정치국민회의']

party.loc[party['제안정당'].isin(conservative), '정당성향'] = '보수'
party.loc[party['제안정당'].isin(progressive), '정당성향'] = '진보'

In [60]:
party['정당성향'].unique()

array([nan, '보수', '진보'], dtype=object)

In [63]:
party['정당성향'].value_counts()

보수    31
진보    24
Name: 정당성향, dtype: int64

In [62]:
party.to_csv('15th-gender-bill-v3.csv', encoding='utf-8-sig')